.checkbox, .radio {
    position: relative;
    margin-top: 5px;
    margin-bottom: 0;
}
ul {
    list-style: none;
    text-align: left;
    
}

.ToDoList {
    display: inline-flex;
    /* line-height: 50%; */
}