.NavBar {
    display: flex;
    margin: 0 0 20px;
}

.NavBar-link, .user{
    margin: 0 10px;
    color: #000000;
    font-size: 1.75rem;
}

Link:hover {
    text-decoration: underline;
    color: #e0ffff;
    cursor: pointer;
}


.NavBar-welcome {
    color: #000000;
    font-size: 1.75rem;
}

div.NavBar {
    display: flex;
    flex-direction: row-reverse;
}