div.mb-2-todo.card {
    box-shadow: 10px 15px 25px 1px rgba(0,0,0, 0.253);
    margin: 20px;
    border-radius: 1em;
    padding: 1rem;
    font-size: 1.50rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20rem;
}

.card-body {
    padding: 1rem;
    font-size: 1.25rem;
}

input.form-control {
    font-size: 1.5rem;
    margin: 10px 0 0 0;
}

div.col-sm-12.text-center {
    display: inline;
}

button.btn.btn-default {
    border: 1px solid grey;
    border-radius: .5rem;
    margin-right: 15px;
    font-size: 1.5rem;
}