div.mb-20.card {
    box-shadow: 10px 15px 25px 1px rgba(0,0,0, 0.253);
    margin: 80px;
    border-radius: 1em;
    padding: 2rem;
    font-size: 1.50rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

div.mb-20.card:hover {
    box-shadow: 30px 25px 30px 3px rgba(0,0,0, 0.253);
}


.card-body {
    font-size: 1.25rem;
}

div.col-sm-12 {
    display: inline;
    align-items: center;
    margin: 3px 0 0 0;
}

button.btn.btn-default {
    border: 1px solid grey;
    border-radius: .5rem;
    margin: 2 15px 0 0;
}

a.SignUpLink{
    margin-top: 15px 0 0 0;
    color: #5c90aa;
}


