
.App {
  text-align: center;

}

div.App {
  min-height: 100%
}

.App-header {
  background-color: #5c90aa;
  font-family: 'Raleway', sans-serif;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 2vh;
  color: #ffffff;
}

div.header {
  font-size: 5rem;
  margin-bottom: -2rem;
  color: #ffffff;
  
}

#App-Parent {
  background-image: url(../../habitzen2.png);
  background-position: center;
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 0 1 auto;
  min-height: 75vh;
}

.App-link {
  color: #61dafb;
}

#sticky-footer {
  background-color: #5c90aa;
  font-family: 'Raleway', sans-serif;
  display: flex;
  min-height: 10vh;
  margin-bottom: -30rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  font-weight: bold;

} 

/* div.NavBar {
  width: 130rem;
  justify-self: right;
  margin-right: 0;
  color: #ffffff;
} */