.App {
  text-align: center;
}

.App-header {
  background-color: #5c90aa;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 2vh;
  color: black;
}

#App-Parent {
  background-image: url(../../habitzen2.png);
  background-position: center;
  background-size: cover;
  flex: 1 0 auto
}

.App-link {
  color: #61dafb;
}

#sticky-footer {
  background-color: #b3e6ff;
  display: flex;
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-bottom: 0;
}

div.NavBar {
  width: 100rem;
  justify-self: right;
  margin-right: 0;
}